


 #no-button{
  height: 40px;
  width: 40%;
  background-color: #fc7169;
  color:white;
  border-radius: 0px;
}

 #yes-button{
  height: 40px;
  width: 40%;
  background-color: #b6bece;
  color:white;
  border-radius: 0px;
}

