<!--<div>-->
<!--  <div >-->
<!--    <button mat-button mat-dialog-close  id="close-icon" (click)="closeDialog()" >Close</button>-->
<!--    <span class="content-span full-width">{{data.message}}</span>-->
<!--  </div>-->
<!--  <button mat-flat-button id="no-button" [mat-dialog-close]="false">NO</button>-->
<!--  <button mat-flat-button id="yes-button" [mat-dialog-close]="true">YES</button>-->
<!--</div>-->

<h2 mat-dialog-title>Sure?</h2>
<mat-dialog-content>{{data.message}}</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Yes</button>
  <button mat-button [mat-dialog-close]="false">NO</button>
</mat-dialog-actions>
