
<div class="container-fluid">
  <div class="container xd-container">
    <h1>Suche</h1>
    <h2>Wonach suchen Sie ?</h2>

    <div>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button checked="true" value="1" [class.active]="viewMode=='owner'" (click)="selectOwner()">Besitzer</mat-radio-button><br>
        <mat-radio-button value="2" [class.active]="viewMode=='pet'"  (click)="selectPet()">Tiere</mat-radio-button><br>
        <mat-radio-button value="3" [class.active]="viewMode=='visit'"  (click)="selectVisit()">Besuche</mat-radio-button>
      </mat-radio-group>
    </div>
  <br>
    <div>
      <form class="example-form">
        <mat-form-field id="SearchInput" class="example-full-width">
        <mat-label>Suche</mat-label>
        <input matInput
               type="text"
               [(ngModel)]="searchTerm"
               placeholder="Suche"
               [formControl]="control"
               [matAutocomplete]="auto">
        </mat-form-field>
        <mat-autocomplete [ngSwitch]="viewMode" #auto="matAutocomplete">
<!--          <mat-option *ngFor="let street of filteredStreets | async" [value]="street" >-->
<!--            {{street}}-->
<!--          </mat-option>-->
          <div *ngSwitchCase="'owner'">
            <mat-option  *ngFor="let owner of listOwner " [value]="owner.id" (click)="goToOwner(owner)" >
              <b>Name:</b> {{owner.firstName}} {{owner.lastName}}, <b>Address:</b> {{owner.address}}, <b>Tel:</b> {{owner.telephone}}, <b>City:</b> {{owner.city}}
            </mat-option>
          </div>

          <div *ngSwitchCase="'pet'">
            <mat-option *ngFor="let pet of listPet " [value]="pet.id" (click)="goToPet(pet)">
              <b>Tiername:</b> {{pet.name}} <b> Besitzername:</b>{{pet.owner.firstName}}
            </mat-option>
          </div>
          <div *ngSwitchCase="'visit'">
            <mat-option *ngFor="let visit of listVisit " [value]="visit.id" (click)="goToVisit(visit)" >
              {{visit.date}}
            </mat-option>
          </div>

        </mat-autocomplete>
      </form>
    </div>


  </div>
</div>
