
<div class="container-fluid">
  <div class="container xd-container">
    <h1>Suche</h1>
    <h2>Wonach suchen Sie ?</h2>

    <div>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button checked="true" value="1" [class.active]="viewMode=='owner'" (click)="selectOwner()">Besitzer</mat-radio-button><br>
        <mat-radio-button value="2" [class.active]="viewMode=='pet'"  (click)="selectPet()">Tiere</mat-radio-button><br>
        <mat-radio-button value="3" [class.active]="viewMode=='visit'"  (click)="selectVisit()">Besuche</mat-radio-button>
      </mat-radio-group>
    </div>
  <br>
    <div>
      <form class="example-form">
        <div class="search-hero">
          <input class="form-control" type="text" name="search" [(ngModel)]="searchTerm" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
        </div>
        <div [ngSwitch]="viewMode" >
          <!--Owner Search------------------------------------------->
          <div *ngSwitchCase="'owner'">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Name</th>
                <th>Addresse</th>
                <th>Telefon</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let owner of listOwner | filter:searchTerm" (click)="goToOwner(owner)">
                <td>{{owner.firstName}} {{owner.lastName}}</td>
                <td>{{owner.address}}</td>
                <td>{{owner.country}}</td>
                <td>{{owner.telephone}}</td>
              </tr>
              </tbody>
            </table>
          </div>
<!--Pet Serach.....................................................................-->
          <div *ngSwitchCase="'pet'">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Tiername</th>
                <th>Besitzer</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let pet of listPet | filter:searchTerm" (click)="goToPet(pet)">
                <td>{{pet.name}}</td>
                <td>{{pet.owner.firstName}} {{pet.owner.lastName}}</td>
              </tr>
              </tbody>
            </table>
          </div>

<!--Date Search---------------------------------------------------------------------------------->

          <div *ngSwitchCase="'visit'">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Besuchsdatum</th>
                <th>Tiername</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let visit of listVisit | filter:searchTerm" (click)="goToVisit(visit)">
                <td>{{visit.date}} </td>
                <td>{{visit.pet.name}}</td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
      </form>
    </div>


  </div>
</div>
